/******** global ********/

// 页面的整体背景色/字体颜色
@bgColor: #E0EFE7;
@color: #000000;

/****** 页头菜单部分  *****/
// 背景色
@headerBgColor: #184777;
// 字体颜色
@headerColor: #FFFFFF;
// 激活(选中)状态时的背景色
@activedHeaderBgColor: #E0EFE7;
// 激活(选中)状态字体颜色
@activedHeaderColor: #000000;
// 鼠标悬念时的字体颜色
@hoverHeaderColor: #cc8366;
// 文字logo的字体颜色
@logoColor: #FFFFFF;
// 文字Logo的背景色
@logoBgColor: transparent;

/*****  按钮  *****/
// button的背景色/字体颜色/鼠标悬停时的字体颜色
@buttonBgColor: #666666;
@buttonColor: #FFFFFF;
@hoverButtonColor: #67AEF6;

/*****  页面标题  *****/
// 页面标题的字体颜色
@titleColor: #67AEF6;

/*****  侧边栏  *****/
// 侧边栏的背景色
@asideBgColor: #EEEEEE;
// 侧边栏二级菜单的背景色
@subAsideBgColor: #E8E8E8;
// 侧边栏一级菜单激活(选中)时的背景色/字体颜色
@activedAsideBgColor: #DED7D6;
@activedAsideColor: #3990e5;
// 侧边栏一级菜单激活(选中)时的左边框
@activeAsideLeftBorderColor:  #3990e5;
// 侧边栏二级菜单激活(选中)时的背景色/字体颜色
@activedSubAsideBgColor: #E0EFE7;
@activedSubAsideColor: #3990e5;
// 侧边栏底部footer背景色/字体颜色
@asideFooterBgColor: #8f8f8f;
@asideFooterColor: #afafaf;
// 侧边栏hover时的背景色
@hoverAsideBgColor: #F0E5D8;

// 表头的背景色/字体颜色
@tableHeaderBgColor: #2361A2;
@tableHeaderColor: #FFFFFF;

// 提示信息的字体颜色/字体大小
@tipsColor: #666666;
@tipsFontSize: 14px;

// 离线状态的设备字体颜色
@offlineColor: red;